include snips_nlu_utils/__version__
include README.rst requirements.txt
recursive-include snips_nlu_utils *.so
include ffi/Cargo.toml
recursive-include ffi/src *.rs
global-exclude __pycache__ *.py[cod]
